IDEWorkspaceChecks.plist
Sample_SDK.xcworkspace
Example/Pods
xcschememanagement.plist
/.build
/Example/build
Example/Sample_SDK.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Example/Sample_SDK.xcodeproj/project.xcworkspace/xcuserdata/jem-8413.xcuserdatad/UserInterfaceState.xcuserstate
